body {
	min-width:250px;
	overflow-x:hidden;
	background:#fff;
	font-size: 14px;
	font-family:cursive, verdana, sans-serif;
	color:#333;
	line-height:1.28;
	padding:0;
	margin: 3px;
	text-align:left;
	direction:ltr;
	unicode-bidi:embed;
	cursor: default;
	background: url(../img/background.png);
}

form {
	margin-left: 10px;
}

input, .leftmargin {
	margin-left: 20px;
}
.otherext {
	color: #133783;
	text-decoration: none;
}
.otherext:hover {
	text-decoration: underline;
}

header
{
	height: 60px;
	margin-bottom: 40px;
	border-bottom: 1px solid #e1ddd8;
	background: rgba(57, 196, 230, 0.5);
	border-radius: 5px;
}

#logo
{
	position: relative;
	top: 0px;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	background-image: url(../img/logo.png);
	background-size: 100%;
}

.menu {
	padding: 0px 20px;
	margin-bottom: 10px;
}
.menu ul {
	list-style: none;
	padding: 0;
}
.menu ul li {
	text-align: center;
	padding: 10px 0px;
}

/*Power button*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

.switch input {
    /* First, we make it as wide as the container */
    position: absolute;
    width: 100%;
    height: 100%;
    /* Then, we put it on top of everything else */
    z-index: 100;
    /* Last, we make it invisible */
    opacity: 0;
    /* This one is just for ergonomy */
    cursor: pointer;
    left: -3px;
	top: -3px;
	margin: 0;

}

.switch {
    width: 50px;
    height: 50px;
    position: relative;
    margin: auto;
}
.switch label {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: rgba(156, 0, 0, 0.4);
    font-size: 25px;
    text-align: center;
    line-height: 45px;
    text-shadow: 0 2px 1px rgba(0,0,0,0.25);
    border-radius: 50%;
    background: #b25244; /* Fallback */
    background: linear-gradient(#f7f2f6, #b2ac9e);
    transition: all 0.3s ease-out;
    z-index: -1;
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.3),
        0 10px 10px 4px rgba(0,0,0,0.3);
}

.switch label:before {
    content: ""; 
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    z-index: -1;
    border-radius: inherit;
    box-shadow: inset 0 10px 10px rgba(0,0,0,0.13); 
    -webkit-filter:blur(1px); /* Smooth trick */
    filter: blur(1px); /* Future-proof */
}
 
.switch label:after {
    content: ""; 
    position: absolute;
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    z-index: -2;
    border-radius: inherit;
}

.switch .icon-off:after {
    content: "";
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    left: 50%;
    top: 50%;
    z-index: -1;
    margin: -35% 0 0 -35%;
    border-radius: 50%;
    background: #d2cbc3; /* Fallback */
    background: linear-gradient(#cbc7bc, #d2cbc3);
    box-shadow:
        0 -2px 5px rgba(255,255,255,0.05),
        0 2px 5px rgba(255,255,255,0.1);
    -webkit-filter:blur(1px); /* Smooth trick */
    filter: blur(1px); /* Future-proof */
}

.switch input:checked ~ label { /* Button */
    color: rgba(57, 196, 230, 0.8);
    box-shadow:
        inset 0 2px 3px rgba(255,255,255,0.13),
        0 5px 8px rgba(0,0,0,0.35),
        0 3px 10px 4px rgba(0,0,0,0.2);
} 

#button-state {
	margin-bottom: 10px;
}

#help-container {
	font-size: 1.1em;
	text-align: left;
	border-top: 1px dashed;
	cursor: pointer;
}

#chevron {
	float: right;
}